

.navbar{
  box-shadow: rgb(0, 0, 0) 0px 3px 5px -6px;
  padding-inline: 1rem;
  background-color: var(--palette-common-white);
}

.navcontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.menu{
  z-index: 1;
  width: 100%;
  position: absolute;
  left: 0;
  top: 4rem;
  background-color: var(--palette-common-white);
  box-shadow: rgb(0, 0, 0) 0px 3px 5px -6px;
  border-top: 2px solid transparent;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition-duration: 0.2s;
}

.menuactive{
  border-top: 2px solid var(--palette-grey-100);
  height: 9rem;
  opacity: 1;
  background-color: #fff;
}

.menu .menuItem{
  padding-inline: 1rem;
  font-size: var(--text-sm);
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 3rem;
  cursor: pointer;
}

.menu .menuItem:hover{
  color: var(--palette-primary-main);
  background: var(--palette-primary-light);
}

.logo {
  height: 4rem;
  width: 100%;
}


@media (min-width: 37.5rem) {
  .navbar {
    padding-inline: 2rem;
  }
  .menu{
    display: flex;
    align-items: center;
    z-index: 0;
    width: auto;
    position: static;
    left: auto;
    top: auto;
    background-color: transparent;
    box-shadow: none;
    border: none;
    height: auto;
    opacity: 1;
  }
  .menu .menuItem{
    display: inline;
    height: auto;
  }
  .menu .menuItem:hover{
    background: none;
  }
  .menuicon{
    display: none !important;
  }
  
}